
.Toastify__toast {
  transition: transform 0.4s ease, opacity 0.4s ease !important;
}

.Toastify__toast--success {
  background-color: #4caf50 !important; 
  color: white !important;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
}

.Toastify__toast--error {
  background-color: #f44336 !important; 
  color: white !important;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 8px;
}

.Toastify__toast-body {
  font-family: 'Arial', sans-serif;
}
